@import "../../sass/base";

.section-after-sale {
    grid-column: 1 / 12;
    grid-row: 2 / 4;

    &__title {
        background-color: $color-grey-dark-1;
        height: 75vh;
        background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../../assets/images/gal-14.jpg);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
            color: $color-primary;
            font-size: 2.5rem;
        }
    }

    &__content {
        padding-left: 10rem;
        position: relative;
        margin: 7.5rem 0;
    }
}

.after-sales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    font-size: 1.45rem;
    padding: 0rem 5rem;
    color: $color-secondary;
}

.after {
    padding: 5rem;
    padding-bottom: 0;
    text-align: center;
    color: $color-secondary;

    &-text {
        margin-bottom: -2rem;
    }
}