@import "../../sass/base";

.service {
    &__text {
        font-size: 1.4rem;
        color: $color-secondary;
        position: relative;
        top: -.75rem;
        left: 1.5rem;
        display: inline-block;
    }
}