@import "../../sass/base";

.section-contact-us {
    grid-column: 1 / 12;
    grid-row: 2 / 4;

    display: grid;
    grid-template-rows: 87.5vh 1fr;

    &__title {
        background-color: $color-grey-dark-1;
        height: 87.5vh;
        background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../../assets/images/gal-1.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
            color: $color-primary;
            font-size: 3.5rem;
        }
    }

    &__content {
        padding: 5rem 5rem 5rem 13rem;
        background-color: $color-secondary;

        @media only screen and (max-width: $bp-medium) {
            padding: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 5rem 2rem;
        }

        h2 {
            font-size: 3rem;
            text-align: center;
            padding-bottom: 5rem;
            position: relative;
            left: -4rem;
            color: $color-primary;

            @media only screen and (max-width: $bp-medium) {
                left: 0rem;
            }
        }
    }
}

.form {
    color: $color-primary;
    border: solid 1px $color-primary;
    padding: 5rem;

    @media only screen and (max-width: $bp-smallest) {
        padding: 5rem 2rem;
    }

    .col-3 {
        width: 31%;
        display: inline-block;

        @media only screen and (max-width: $bp-medium) {
            width: 30%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 29%;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 95%;
        }
    }

    .col-6 {
        width: 47.25%;
        display: inline-block;

        @media only screen and (max-width: $bp-small) {
            width: 45%;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 95%;
        }
    }

    .col-12 {
        width: 96.2%;
    }

    .select {
        position: relative;
        top: -4.3rem;
    }

    &__group {
        margin: 0.5rem 1rem;
    }


    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 1.5rem;
        border-radius: 2px;
        background-color: $color-grey-light-1;
        border: none;
        border-bottom: 3px solid $color-primary;
        width: 100%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-primary, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid red;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-secondary;
        }
    }

    &__radio-group {
        margin-bottom: 1.75rem;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.25rem;
        }
    }

    &__label {
        font-size: 1.45rem;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-top: 0.65rem;
        display: block;
        transition: all .3s;
        color: $color-primary;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    input[type="checkbox"] {
        margin-right: 1rem;
        top: 0.65rem;
        position: relative;
        width: 4rem;
        height: 2rem;
        -webkit-appearance: none;
        appearance: none;
        background: red;
        outline: none;
        border-radius: 2rem;
        cursor: pointer;
        box-shadow: inset 0 0 5px rgb(0, 0, 0);
    }

    input[type="checkbox"]::before {
        content: "";
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: $color-grey-light-1;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    input[type="checkbox"]:checked::before {
        transform: translateX(100%);
        background: #fff;
    }

    input[type="checkbox"]:checked {
        background: $color-primary;
    }
}