@import "../../sass/base";

.navbar {
    grid-template-columns: minmax(min-content, max-content);

    &__title {
        grid-row: 1 / 2;
        display: grid;
        opacity: .97;
        background-color: $color-secondary;
        z-index: 10;
        padding: 1.75rem;
        grid-column: 1 / 12;
    }

    &__logo {
        height: 4.75rem;
        justify-self: center;
    }
}